<div class="container">

    <header>
        <h1>SoarSpace Raise</h1>
        <h2>Crowdfunding for new coders</h2>
        <h6>This campaign page is made possible through an open source project which allows any aspiring coder to host a crowdfunding campaign at a minimal cost. New coders further their knowledge while working with the campaign project and gain access to needed funding to pursue their endeavors.</h6>
        <a href="http://github.com/heyellieday/crowdfunding">Learn More</a>
    </header>

    <div class="row-fluid" id="content" style="margin-top:68px;"></div>

    <hr>

    <footer>
        <p> &copy; Crowdfunding for new coders - Check it out on<a href="http://github.com/heyellieday/crowdfunding"> Github.</a></p>
    </footer>

</div>
